# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Database & Instances
instance/
*.db
*.sqlite3

# Environment & IDE
.env
.env.*
!.env.example
.vscode/
.idea/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
